#!/bin/sh
{{ ansible_managed | comment }}

# Ansi color code variables
red="$(printf '\033[0;91m')"
blue="$(printf '\033[0;94m')"
expand_bg="$(printf '\033[K')"
blue_bg="$(printf '\033[0;104m${expand_bg}')"
red_bg="$(printf '\033[0;101m${expand_bg}')"
green_bg="$(printf '\033[0;102m${expand_bg}')"
green="$(printf '\033[0;92m')"
white="$(printf '\033[0;97m')"
bold="$(printf '\033[1m')"
uline="$(printf '\033[4m')"
reset="$(printf '\033[0m')"

echo "${blue}--------------------------------${reset}"

echo "
Server:		${bold}{{ ansible_fqdn }}${reset}
IP: 		${bold}{{ ansible_host }}${reset}
"

{% if anro_server_custom_motd is defined and anro_server_custom_motd | length > 0 %}
{% for line in anro_server_custom_motd %}
echo "{{ line }}"
{% endfor %}
{% endif %}

echo "${blue}--------------------------------${reset}"

#if [ -f "/etc/motd" ]; then
#  cat "/etc/motd"
#fi
